#wrap{
	width:100%;
	display:block;
	position:relative;
}
#main{
	background-color: white;
	//padding-top: $spacing;
	.page &,.single &{
		padding-top: 100px;
	}
	.home &, .page-template-template-lenovo &, .page-template-template-ibm &{
		padding-top:0;
	}
}