.gform_body{
	ul{
		margin: 0;
		li{
			margin-bottom: 10px;
			
		}
	}
}
.gform_wrapper{
	.gform_column{
		width: 40%;
	}
}
.gform_confirmation_message{
		color: $blue;
		display: inline-block;
		background-color: $yellow;
		@include font-size(20px);
		padding: 15px 15px 15px 70px;
		position: relative;
		&:before{
			content:"";
			width:48px;
			height:48px;
			display: block;
			@include abs-pos(50%,auto,auto,15px);
			background:url('../images/tick.png') left top no-repeat;
			margin-top: -24px;
		}
		margin-bottom: 20px;
	}
