#header{
	background-color: $blue;
	position: fixed;
	top:0;
	left:0;
	z-index:9999;
	//@include abs-pos(0,auto,auto,0);
	width:100%;
	padding:0 0 0;
	/*
	&:after{
		content:"";
		display: block;
		width:100%;
		height:120px;
		z-index: 1;
		background-color:$blue;
		@include abs-pos(auto,auto,-40px,0);
		@include transform(skewY(3.5deg));
	}
	*/
	#home-link{
		display: block;
		width: ((229px / 100) * 55);
		height: ((220px /100) * 55);
		@include abs-pos(0,auto,auto,0);
		@include transition(all .3s ease);
		background:url('../images/europlus-direct.png') left top no-repeat;
		background-size:100% auto;
		@extend %ir;
		z-index: 999;
		margin:18px 0 0 ;
	}
	.top{
		@include linear-gradient(-180deg, $dark-grey 0%, $grey 100%);
		padding: 10px 10px;
		color: white;
		position: relative;
		z-index: 996;
		nav#contacts{
			width: 100%;
			//@include centered-menu;
			ul{
				li{
					position: relative;
					padding:0 25px;
					display: block;
					text-align:center;
				}
				a{
					@include font-size(12px);
					color: white;
					line-height: 140%;
					display: block;
				}
			}	
		}
		
		nav#controls{
			@include abs-pos(0,0,auto,auto);
			@include inline-menu;
			/*
			li{
				margin-left: 35px;
			}
			a{
				display: block;
				width:25px;
				height:25px;
				@extend %ir;
				background:url('../images/chat-icon.png') center center no-repeat;
				background-size:100% auto;
			}
			*/
		}
	}
}
#lang_sel_click{
	ul{
		ul{
			width:auto;
			display: inline-block;
			left:-5px;
			border:none;
			a,a:visited{
				height:24px;
				line-height: 24px;
				padding:0 25px;
				background-color: darken($blue,10%);
				color:white !important;
				border:none;
				img.iclflag{
					left:5px;
				}
			}
			a:hover,a:active{
				color: $yellow !important;
			}
		}
	}
	li{
		display: inline-block;
		width:auto;
	}
	a.lang_sel_sel{
		background-color: transparent !important;
		border:none;
		color: white;
		@include font-size(11px);
		height:24px;
		line-height: 24px;
		position: relative;
		padding: 0 25px;
		&:hover,&:active{
			color: white;
		}
	}
	img.iclflag{
		margin: 6px 0;
		@include abs-pos(0,auto,auto,0);

	}

}


@media #{$medium-up} { 

	#header{
		#home-link{
			width: ((229px / 100) * 75);
			height: ((220px /100) * 75);
			margin:4px 0 0 ;
		}
		.top{
			nav#contacts{
				width:50%;
				margin:0 auto;
				ul{
					li{
						a{
							@include font-size(14px);
						}
					}
				}
			}
		}
	}
}


@media #{$large-up} { 

	#header{
		.minimise &{
			#home-link{
				width:120px;
			}
		}
		.top{
			padding:10px 50px;	
			nav#contacts{
				width: 100%;
				@include centered-menu;
				ul{
					li{
						&:after{
							content:"";
							width:1px;
							height:14px;
							display: block;
							@include abs-pos(50%,0,auto,auto);
							margin-top:-7px;
							background-color:white;
						}
						&:last-child{
							&:after{
								background-color: transparent;
							}
						}
						a{
							line-height: 25px;
							height: 25px;
							.minimise &{
								@include font-size(12px);
							}
						}
					}
				}
			}
		}
	}
}

@media #{$xlarge-up} { 

	#header{
		#home-link{
			width:229px;
			height: 220px;
		}
		.top{
			nav#contacts{
				ul{
					a{
						@include font-size(18px);
					}	
				}
			}
		}
	}
}


