#nav{
	position: relative;
	z-index:2;
	@include centered-menu;
	background-color: $blue;
	height: 60px;
	@include wp-current-page-links{
		color: $yellow;
		background-color: darken($blue,10%);
	}
	ul{
		display: none;
	}
	li{
		//padding:0 30px;
		position: relative;
	}
	a{
		color: white;
		@include font-size(18px);
		height:80px;
		line-height: 80px;
		&:hover,&:active{
			color: $yellow;
			background-color:darken($blue,5%);
		}
	}
	.menu-toggle{
		@include abs-pos(18px,30px,auto,auto);
		@extend %ir;
		width:38px;
		height:32px;
		background:url('../images/mobile-menu.png') left top no-repeat;
		background-size: 100% auto;
		display: block;
	}
}
#anchor-nav{
	@include abs-pos(auto,0,0,0);
	@include centered-menu;
	background-color: rgba(255,255,255,.7);
	padding: 20px 0;
	width: 100%;
	li{
		padding: 0 20px; 
	}
	a{
		@include font-size(18px);
	}
	display: none;
}

@media #{$medium-up} { 


}

@media #{$large-up} { 

	#nav{
		height: 70px;
		//padding-left: (200px/100)*85;
		padding-left:0;
		.minimise &{
			height: 50px;
			padding-left:0;
		}
		ul{
			display: block;
		}
		li{
			//padding: 0 20px; padding:0 2.2vw;

		}
		a{
			height:70px;
			line-height: 70px;
			display: block;
			@include font-size(18px);
			padding: 0 20px; padding:0 2.2vw;
			.minimise &{
				height: 50px;
				line-height: 50px;
				@include font-size(16px);
			}
		}
		.sub-menu{
			@include abs-pos(70px,auto,auto,0);
			.minimise &{
				top:50px;
			}
			background-color: $blue;
			width:auto;
			border-bottom:2px solid $yellow;
			li{
				right:auto;
				width:auto;
				padding:0 !important;
				display: inline-block;
			}
			a{
				height:auto !important;
				border-top:1px solid darken($blue,5%);
				line-height: 100% !important;
				background-color: transparent !important;
				color: white !important;
				display: block;
				@include font-size(16px);
				width:240px;
				text-align: left;
				padding: 15px 20px; padding:15px 2.2vw;
				white-space: nowrap;
				&:before{
					content:"+";
					color: $yellow;
					@include abs-pos(15px,auto,auto,12px);
				}
				&:hover,&:active{
					background-color: darken($blue,5%) !important;
					color: $yellow !important;
				}
			}
		}
		.menu-toggle{
			display: none;
		}
	}
	#anchor-nav{
		display: block;
		.minimise &{
			position: fixed;
			z-index: 999;
			padding: 10px 0;
			top:90px;
			left:0;
			bottom:auto;
			right:auto;
			background-color: $light-grey;
			a{
				@include font-size(14px);
			}
		}
	}

}

@media #{$xlarge-up} { 

	#nav{
		height: 120px;
		padding-left: 230px;
		ul{
			//display: block;
		}
		
		a{
			height:120px;
			line-height: 120px;
			@include font-size(24px);
		}
		.menu-toggle{
			//display: none;
		}
	}

}
