#nav{
	position: relative;
	z-index:2;
	background-color: $blue;
	height: auto;
	@include wp-current-page-links{
		color: $yellow;
		background-color: darken($blue,10%);
	}
	ul{
		display: block; 
	}
	li{
		//padding:0 30px;
		position: relative;
		display: block;
		width:100%;
		float: none;
	}
	a{
		color: white;
		@include font-size(14px);
		padding:5px 10px;
		display: block;
		&:hover,&:active{
			color: $yellow;
			background-color:darken($blue,5%);
		}
	}
	.menu-toggle{
		@include abs-pos(15px,15px,auto,auto);
		@extend %ir;
		width:38px;
		height:32px;
		background:url('../images/mobile-menu.png') left top no-repeat;
		background-size: 100% auto;
		display: block;
	}
}
#anchor-nav{
	@include abs-pos(auto,0,0,0);
	@include centered-menu;
	background-color: rgba(255,255,255,.7);
	padding: 10px 0;
	width: 100%;
	li{
		padding: 0 20px; 
	}
	a{
		@include font-size(14px);
	}
	display: none;
}

@media #{$small-only}{

	#nav{
		padding-bottom: 0;
		ul{
			display: block;
			&#menu-main-menu{
				padding: 25px 0 10px;
				display: none;
			}
		}
		li{
			&.current-menu-item, &.current-page-parent{
				.sub-menu{
					li{
						a:link,a:visited{
							background-color: darken($blue,5%);
							color: white;
						}
					}
				}
			}
		}

		.columns{
			padding: 55px 0 0;
		}
		.sub-menu{
			//display: none;
			li.anchor{
				display: none;
			}
		}
	}
}

@media #{$small-medium-only}{

	#nav{
		ul{
			&#menu-main-menu{
				padding-left:40px;
			}
		}
	}
}

@media #{$small-medium-up} { 

	#nav{
		height: 58px;
		background-color: $blue;
		position: relative;
		z-index:2;
		//padding-left: (200px/100)*85;
		padding-left:0;
		@include centered-menu;
		.minimise &{
			height: 50px;
			padding-left:0;
		}
		
		li{
			//padding: 0 20px; padding:0 2.2vw;
			//padding:0 30px;
			//float: left;
			
			position: relative;
			width:auto;
			&.rollover{
				a{
					background-color: darken($blue,5%);
					color: $yellow;
				}
			}
		}
		a{
			height:58px;
			line-height: 58px;
			@include font-size(14px);
			display: block;
			padding: 0 14px; padding:0 1.2vw;
			.minimise &{
				height: 50px;
				line-height: 50px;
				@include font-size(16px);
			}
		}
		.sub-menu{
			@include abs-pos(58px,auto,auto,0);
			display:none;
			.minimise &{
				top:50px;
			}
			background-color: $blue;
			width:auto;
			border-bottom:2px solid $yellow;
			li{
				right:auto;
				width:100%;
				@include transition(background-color .3s ease);
				padding:0 !important;
				display: block;
				border-top:1px solid darken($blue,5%);
				&:hover,&:active{
					background-color: darken($blue,5%) !important;
					a{
						color: $yellow !important;
					}
				}
			}
			a{
				height:auto !important;
				//border-top:1px solid darken($blue,5%);
				line-height: 100% !important;
				background-color: transparent !important;
				color: white !important;
				display: block;
				@include font-size(14px);
				width:auto;
				text-align: left;
				padding: 15px 15px 15px 10px;
				white-space: nowrap;
				&:before{
					content:"+ ";
					color: $yellow;
					//@include abs-pos(15px,auto,auto,12px);
				}
				/*&:hover,&:active{
					background-color: darken($blue,5%) !important;
					color: $yellow !important;
				}*/
			}
		}
		.menu-toggle{
			display: none;
		}
	}

}

@media #{$medium-up} { 

	#nav{
		
		li{
			&:first-child{
				padding-left:40px;
			}
		}
		a{
			padding: 0 15px; padding:0 1.8vw;
			@include font-size(16px);
		}
		.sub-menu{
			a{
				@include font-size(16px);
			}
		}

	}
	#anchor-nav{
		display: block;
		.minimise &{
			position: fixed;
			z-index: 999;
			padding: 10px 0;
			top:90px;
			left:0;
			bottom:auto;
			right:auto;
			background-color: $light-grey;
			a{
				@include font-size(16px);
			}
		}
		a{
			@include font-size(16px);
		}
	}

}

@media #{$large-up} { 

	#nav{
		@include centered-menu;
		height: 70px;
		a{
			@include font-size(18px);
			height: 70px;
			line-height: 70px;
			padding: 0 10px; padding:0 1.2vw;
		}

		.sub-menu{
			@include abs-pos(70px,auto,auto,0);
		}
	}
		
		

}

@media #{$xlarge-up} { 

	#nav{
		height: 120px;
		padding-left: 230px;
		ul{
			//display: block;
		}
		
		a{
			height:120px;
			line-height: 120px;
			@include font-size(24px);
		}
		.menu-toggle{
			//display: none;
		}
	}
	#anchor-nav{
		display: block;
	}
}
