h1,h2,h3,h4{
	margin:0 0 20px;
	line-height:100%;
	color: $blue;
	font-weight:normal;
	@include font-size(48px);
}
h3{
	@include font-size(30px);
}
h4{
	@include font-size(22px);
}
h1,h2{
	width:100%;
	text-align: center;
}
a{
	@include transition(all .3s ease);
	&:link,&:visited{
		text-decoration: none;
	}
	&:hover,&:hover{

	}
	&:focus{
		outline: none;
	}
}
p{
	margin-bottom:40px;
}

@media #{$medium-up} { 


}

@media #{$large-up} { 


}

@media #{$xlarge-up} { 


}
