#posts{
	h2{
		margin-bottom:40px;
	}
	h3{
		margin-bottom: 5px;
	}
	.nested-section{
		.content-wrap{
			.content{
				 padding: 15px 15px 20px;
			}
		}
	}
	li{
		//margin-bottom: 0.9375rem;
	}
}
#careers{
	p{
		@include font-size(14px);
	}
	h4{
		margin-bottom: 10px;
	}
	header{
		margin-bottom: 15px;
	}
	article{
		display: block;
		width: 100%;
		padding:15px;
		background-color: white;
		
	}
}
#awards{
	text-align:center;
	.award{
		color: white;
		padding: 0;
		p{
			@include font-size(14px);
		}
	}
	.columns{
		margin-bottom: 60px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	figure{
		margin: 0 auto 30px;
		max-width: 200px;
		&.large{
			max-width: 300px;
			margin-bottom: 40px;
		}
		img{
			width: 100%;
			height: auto;
		}

	}
	h3{
		margin-bottom: 40px;
	}
	h4{
		margin-bottom: 10px;
	}
	a{
		&:link,&:visited{
			color: $yellow;
		}
		&:hover,&:active{
			color: white;
		}
	}
}
.person{
	footer{
		@extend %clearfix;
		li{
			float:left;
			padding-right:10px;
		}
		a{
			&:link,&:visited{
				width:32px;
				height:32px;
				display: block;
				background-color: $grey;
				@include border-radius(50%);
				color: white;
				@extend %ir;
				background-image:url('../images/mail.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 20px 20px;
				@include transition(background-color .3s ease);
			}
			&.linkedin{
				background-image:url('../images/linkedin-icon.png');
			}
			&:hover,&:active{
				background-color: $blue;
			}
		}
	}
}

@media #{$medium-up} { 

	#awards{
		.columns{
			margin-bottom: 0;
		}
		.award{
			padding: 0 20px;
			margin:0;
		}
		h4{
			@include font-size(16px);
		}
	}

}

@media #{$large-up} { 

	#awards{
		.award{
			padding: 0 20px;
		}
	}

}