#slider-wrap{
	display: block;
	width:100%;
	height:100%;
	padding: 105px 0 0;
}
#slider{
	width:100%;
	display: block;
	position: relative;
	background-color: $grey;
	.slide{
		background-color: $light-grey;
		@include bg-cover;
		.row,.columns{
			height:100%;
		}
		.content{
			width:100%;
			height:100%;
			display: block;
			&:before{
				content:"";
				height:100%;
				vertical-align: middle;
				display: inline-block;
			}
			.vcenter{
				width:98%;
				display: inline-block;
				text-align: right;
				vertical-align: middle;
			}
			.block-heading{
				@include font-size(20px);
			}
			.secondary{
				@include font-size(20px);
				line-height: 100%;
				&.small{
					@include font-size(14px);
				}
			}
		}
	}
	.slick-dots{
		@include abs-pos(auto,0,20px,0);
	}
}
#intro{
	.inner-pad{
		padding: 0;
	}
	p{
		@include font-size(16px);
		text-align: left;
		&:last-child{
			margin:0;
		}
	}
}
#lenovo{
	header{
		height:auto;
		display: block;
		position: relative;
		margin-bottom: 30px;
		.columns{
			height: 100%;
			position:relative;
		}
		.inner{
			height:auto;
			.vcenter{
				display: inline-block;
				width: 98%;
				vertical-align: middle;
			}
		}
		.gold-partner{
			position: relative;
			width: 50%;
			max-width: 168px;
			margin: 0 auto 20px;
		}
		h2{
			position: relative;
			margin:0;
			i{
				display: none;
			}
			span em{
				padding: 60px 20px 12px 20px;
				position: relative;
				width:100%;
				&:before{
					content:"";
					width: 228px;
					height: 38px;
					display: block;
					background:url('../images/lenovo.png') left top no-repeat;
					background-size: 100% auto;
					@include abs-pos(15px,auto,auto,50%);
					margin-left:-114px;
				}	
			}
		}
	}
}
.pac-intro{
	padding: 0 10%;
}
.pac-features{
	.feature{
		margin-bottom: 80px;
		padding: 0 20px;
		.icon{
			width: 100px;
			height: 91px;
			text-align: center;
			margin:0 auto 15px;
			img{
				width:auto;
				height:100%;
				margin:0 auto;
			}
		}
		h3,h4{
			@include font-size(24px);
		}
	}
	.columns{
		&:last-child{
			.feature{
				margin-bottom: 0;
			}
		}
	}
}
#callback{
	.gform_body{
		width:100%;
		display: block;
		@extend %clearfix;
	}
	li{
		margin-bottom: 4px;
		&.right{
			float:left !important;
			width: 100%;
		}
	}
	.gform_column{
		width:100%;
		float:none;
		margin:0;
	}
	input.medium{
		width: 100%;
		height: 40px;
		background-color: rgba(255,255,255,.3);
		border: none;
		padding:0 10px;
	}
	.gform_footer{
		text-align: center;
		padding-top:20px;
		position: relative;
		.gform_button{
			display:inline-block;
			height:38px;
			line-height:38px;
			width:auto;
			position:relative;
			z-index: 2;
			background-color: $yellow;
			border:none;
			margin: 0;
			color: $blue;
			padding: 0 30px;
			text-align: center;
			@include font-size(20px);
			text-decoration:none;
			@include transition(background-color .3s ease);
			&:hover,&:active{
				background-color: $light-yellow;
			}
		}
	}
}
#support{
	.ribbon{
		margin-top: 20px;
	}
}
#faqs{
	p{
		@include font-size(18px);
	}
	.slider{ 
		padding: 0 35px;
		.slide{
			p{
				@include font-size(20px);
				text-align: center;
				color: $blue;
				margin:0;
			}
		}
		.slick-prev,.slick-next{
			display: block;
			width:30px;
			height: 30px;
			background-color: white;
			@include border-radius(50%);
			@include abs-pos(50%,auto,auto,0);
			margin-top:-15px;
			background-image:url('../images/slider-prev-arrow.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 10px auto;
			z-index: 999;
		}
		.slick-next{
			@include abs-pos(50%,0,auto,auto);
			background-image:url('../images/slider-next-arrow.png');
		}
	}
}
#video-link{
	.block-heading{
		margin-bottom: 4px;
	}
}

/* Medium Breakpoint */

@media #{$medium-up} { 


	#slider-wrap{
		padding: 115px 0 0;
	}
	#slider{
		.slide{
			.content{
				.block-heading{
					@include font-size(34px);
				}
				.secondary{
					@include font-size(34px);
					&.small{
						@include font-size(22px);
					}
					
				}
			}
		}
	}
	.pac-features{
		.feature{
			.icon{
				width: 126px;
				height: 115px;
			}
			h3,h4{
				@include font-size(24px);
			}
		}
	}
	#lenovo{
		header{
			.gold-partner{
				width: 20%;
			}
			h2{
				span em{
					padding: 12px 20px 12px 308px;
					width:auto;
					&:before{
						width: 268px;
						height: 38px;
						@include abs-pos(50%,auto,auto,20px);
						margin-top:-19px;
						margin-left:0;
					}	
				}
			}
		}
	}
	#callback{
		.gform_column{
			width:50%;
			float:left;
		}
		.ginput_container{
			width: 98%;
		}
		li{
			width:100%;
			margin-bottom: 4px;
			display: block;
			&.right{
				.ginput_container{
					float:right;
				}
			}
		}
		input.medium{
			height: 60px;
		}
		.gform_footer{
			text-align: right;
			padding-top:60px;
			margin-top: -40px;
			position: relative;
			&:before{
				content:"";
				z-index: 1;
				height:48px;
				line-height:48px;
				background-color: $grey;
				width:48px;
				display: block;
				@include abs-pos(36px,-78px,auto,auto);
				@include transform(skewY(45deg));	
				@include linear-gradient(-45deg, lighten(black,50%) 0%, $yellow 100%);
			}
			.gform_button{
				display:inline-block;
				height:48px;
				line-height:48px;
				width:250px;
				position:relative;
				z-index: 2;
				background-color: $yellow;
				border:none;
				margin: 0 -78px 0 0;
				color: $blue;
				padding: 0 20px 0 20px;
				text-align: center;
				@include font-size(20px);
				text-decoration:none;
				@include transition(background-color .3s ease);
				&:hover,&:active{
					background-color: $light-yellow;
				}
				&:before{
					content:"";
					z-index: 1;
					@include abs-pos(-24px,auto,auto,0);
					height:48px;
					@include transform(skewY(-45deg));
					line-height:48px;
					background-color: $grey;
					width:48px;
					display: block;
					@include linear-gradient(45deg, black 0%, $blue 100%);
				}
			}
		}
	}
	
	#video-link{
		.block-heading{
			margin-bottom: 8px;
		}
	}
}

/* Large Breakpoint */

@media #{$large-up} { 

	#slider{
		.slide{
			.content{
				.block-heading{
					@include font-size(40px);
				}
				.secondary{
					@include font-size(40px);
					&.small{
						@include font-size(26px);
					}
				}
			}
		}
		.slick-dots{
			@include abs-pos(auto,0,80px,0);
		}
	}
	.section-content-inner{
		padding:0 30px;
	}
	#lenovo{
		header{
			&.gold-logo{
				height:155px;
			}
			.columns{
				height: 100%;
				position:relative;
			}
			.inner{
				height:100%;
				&:before{
					content:"";
					display: inline-block;
					height:155px;
					vertical-align: middle;
				}
				.vcenter{
					display: inline-block;
					width: 98%;
					vertical-align: middle;
				}
			}
			.gold-partner{
				@include abs-pos(0,auto,auto,30px);
				width:155px;
				height:auto;
			}
		}
	}
	.pac-features{
		.feature{
			padding:0 10px;
			margin-bottom: 0;
		}
	}
	#faqs{
		
		.slider{ 
			padding: 0 100px;
			.slide{
				p{
					@include font-size(28px);
				}
			}
			.slick-prev,.slick-next{
				width:68px;
				height: 68px;
				margin-top:-34px;
				background-size: 20px auto;
			}
		}
	}
	#intro{
		.inner-pad{
			padding: 0 70px 30px;
		}
		p{
			@include font-size(16px);
		}
	}
	

}

/* XLarge Breakpoint */

@media #{$xlarge-up} { 

	#slider-wrap{
		padding-top: 195px;
	}
	#slider{
		.slide{
			.content{
				.block-heading{
					@include font-size(48px);
				}
				.secondary{
					@include font-size(48px);
					&.small{
						@include font-size(30px);
					}
				}
			}
		}
	}
	#support{
		.ribbon{
			margin-top: 100px;
		}
	}
	#callback{
		.gform_footer{
			text-align: right;
			position: relative;
			&:before{
				content:"";
				z-index: 1;
				height:58px;
				line-height:58px;
				background-color: $grey;
				width:58px;
				display: block;
				@include abs-pos(31px,-88px,auto,auto);
				@include transform(skewY(45deg));	
				@include linear-gradient(-45deg, lighten(black,50%) 0%, $yellow 100%);
			}
			.gform_button{
				display:inline-block;
				height:58px;
				line-height:58px;
				width:320px;
				position:relative;
				z-index: 2;
				background-color: $yellow;
				border:none;
				margin: 0 -89px 0 0;
				color: $blue;
				padding: 0 58px 0 20px;
				text-align: center;
				@include font-size(24px);
				text-decoration:none;
				@include transition(background-color .3s ease);
				&:hover,&:active{
					background-color: $light-yellow;
				}
				&:before{
					content:"";
					z-index: 1;
					@include abs-pos(-29px,auto,auto,0);
					height:58px;
					@include transform(skewY(-45deg));
					line-height:58px;
					background-color: $grey;
					width:58px;
					display: block;
					@include linear-gradient(45deg, black 0%, $blue 100%);
				}
			}
		}
	}
	
	
}


