#posts{
	.posts-footer{
		text-align: center;
		display: block;
		width: 100%;
		a{
			display: inline-block;
			margin:0 auto;
		}
	}
}
.story{
	a:link,a:visited{
		color: $blue !important;
	}
	a:hover,a:active{
		color: $dark-grey !important;
	}
}
#article{
	p{
		//text-align: left;
	}
	header{
		text-align: center;
		margin-bottom: 40px;
		h2{
			margin-bottom: 10px;
		}
	}
	footer{
		text-align: center;
		padding: 20px 0 0;
	}
}
#more-articles{
	footer{
		text-align: center;
	}
}