#posts{
	.posts-footer{
		text-align: center;
		display: block;
		width: 100%;
		a{
			display: inline-block;
			margin:0 auto;
		}
	}
}
#article{
	header{
		text-align: center;
		margin-bottom: 40px;
		h2{
			margin-bottom: 10px;
		}
	}
}