#testimonials{
	h3{
		margin-bottom: 40px;
	}
	.quote-outer{
		margin-bottom: 60px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	blockquote{
		&:before{
			background-image:url('../images/open-quote-blue.png');
		}
		&:after{
			background-image:url('../images/close-quote-blue.png' );
		}
		p{
			color: $dark-grey;
		}
		footer{
			color: $blue;    
		}
	}
}