html{
	//font-size: 62.5%;
}
body{
	background-color: $grey;
	color: $dark-grey;
	font-family: $open_sans;
	font-weight: 400;
	overflow-x:hidden;
	width:100%;
	// /-webkit-font-smoothing: antialiased;
}
