//colours
$blue: #054990;
$light-blue: #b4c8dd;
$grey: #8d8d8d;
$dark-grey: #1d1d1d;
$light-grey: #d6d9dd;
$xlight-grey: #eef0f3;
$red: #eb222f;
$yellow: #fff000;
$light-yellow: #fcf9d4;

//font face

@font-face {
    font-family: 'BebasNeueBold_gdi';
    src: url('../fonts/BebasNeueBold_gdi.eot');
    src: url('../fonts/BebasNeueBold_gdi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeueBold_gdi.woff') format('woff'),
         url('../fonts/BebasNeueBold_gdi.ttf') format('truetype'),
         url('../fonts/BebasNeueBold_gdi.svg#BebasNeueBold_gdi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'BebasNeueBold_gdi';
        src: url('../fonts/BebasNeueBold_gdi.svg#BebasNeueBold_gdi') format('svg');
    }
}
//fonts
$open_sans : 'Open Sans', sans-serif;


